{% extends 'base.html' %}
{% block title %}
    Профайл пользователя {{author}}
{% endblock %}
{% block content %}  
    <h1>Все посты пользователя {{ author }} </h1>
    <h3>Всего постов: {{ count_posts }} </h3>   
    {% for post in page_obj %}
        <article>
          <ul>
            <li>
              Автор: {{ author }}
              <a href="{% url 'posts:profile' author.username %}">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: {{post.pub_date|date:"d E Y "}}
            </li>
          </ul>
          <p>
          {{ post.text|linebreaksbr }}
          </p>
          <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
        </article>
        {% if post.group %}
        <p>       
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>       
        </p>
        {% endif %}
        <hr>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}  
{% include 'includes/paginator.html' %}
{%endblock%} 